
        body {background-color: #f2f2f2; 
            font-family:'Roboto', sans-serif;
          } 
img {
display: none;
}          
header {
    background-color:#e5e5e5;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;  
    justify-content: space-around;
}   
header h1 {
    width: 550px;
} 
button {
    background-color:#20a8b4 ;
    text-decoration: none; 
    color: white;
    border-radius: 10px;
    border: none;
    text-align: center;
    padding: 12px;
    width:100%;
        }
    

ul.nav {
  list-style-type: none;
  padding: 10px;
  margin: 20px 2px;
  gap: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;  
  justify-content: space-around;
  }    

 button:hover {
    background-color: orange;
    cursor: pointer;
}

a:hover { 
    color:orange; text-decoration: none;
}
a { text-decoration: none;
    color: #000;
    }
h1 {
    color:#20a8b4;
 }
 h1 strong {
   color: orange;
 }
  h2 span {
   color: orange;
}

@media screen and (min-width:768px) {
    header, ul.nav {
        flex-direction: row;  
        
    }
    img {
    display: inline;
}   
    button {
    width: auto;
}    
}                                                                                